<!DOCTYPE html>
<html>
<head>
  <title>CVTutor.com</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial scale=1.0">
</head>
<body>
<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <a class="brand" href="#">CVTutor</a>
    <ul class="nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Members</a></li>
      <li><a href="#">School Website</a></li>
      <li><a href="#">Subjects and Courses</a></li>
    </ul>
  </div>
</div>
<div class="container-fluid">
  <div id="user_nav">
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to 'Edit profile', edit_user_registration_path %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path %> |
      <%= link_to "Login", new_user_session_path %>
    <% end %>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="span8"><%= yield %></div>
    <div class="span4">
      <h2>About CreekViewTutor</h2>
      Creekview Tutor is an online peer tutoring network where students can post problems or solutions online and
      work together to achieve a higher understanding of the education they already seek to learn in school.
      With an extensive application as a tool to guide the learning process, we hope to better your understanding 
      of various subjects and/or any questions you may have. Go forth and learn!
    </div>
  </div>
</div>
</body>
</html>
